<h3>
	<%= link_to post.titulo, post_path(post) %>
	<% unless post.publicado %>
		(Rascunho)
	<% end %>
	(<%= link_to "Excluir", post_path(post), 
    method: 'delete', 
    data: {confirm: 'Tem certeza?'} %>)
</h3>
<p><%= post.texto %></p>
